@page "/access-denied"
@attribute [AllowAnonymous]

<PageTitle>Хандах эрхгүй</PageTitle>

<h1>Хандах эрхгүй</h1>

<p>Танд энэ хуудсанд хандах эрх байхгүй байна.</p>
<a class="btn btn-primary" href="/">Нүүр хуудас</a>
